 .sidebar {
    background-color: rgb(236, 122, 76);
    height: 100%;
  }
  
  .sidebar li {
    padding: 7% 2% 2% 7% ;
  }

   .sidebar a {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 10%;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #00d48a;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #a200ffee;
    color: white;
  }
  #logo{
    margin-top: 5%;
    width: 80%;
  
  } 